h1 {
    text-align: center;
}

#drumHolder {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

body {
    display: flex;
    justify-content: center;
}

.pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

p {
    font-family: 'narnia bll';
    color: whitesmoke;
    border: solid white 2px;
    border-radius: 3px;
    padding: 0.5em;
    margin: 1em;
}

p:first-child {
    font-size: 2em;
}

.playing {
    background-color: black;
}

.notPlaying {
    background-color: #556B2f;
}