body {
    background-size: contain;
    font-family: 'consolas', sans-serif;
    margin-top: 2em;
}

main{
    max-width: 500px;
    margin: 0 auto;
    border: double black 5px;
}

main #game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

main div input {
    height: var(--height);
    font-family: var(--font-fam);
    color: var(--color-dark);
    font-size: 1rem;
}



#game #image {
    background-image: url(man.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 200px;
    width: 75px;
}